.live-demo {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom: 3rem;
}
.live-demo .CodeMirror {
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    height: auto;
}
.live-demo .preview {
    padding: 0.5rem;
}

.live-demo.hidden {
    visibility: hidden;
}

.live-demo.hidden::before {
    visibility: visible;
    display: block;
    content: "Loading...";
}

.live-demo > * {
    flex-basis: 100%;
}

.live-demo iframe {
    height: 100%;
    margin: 0;
    min-width: 100%;
    border: none;
}

